extends layout.pug

include mixins.pug 

block content
	div.content.box
		p 
			| Welcome! Felt Pen Knight is a collaborative,
			| ongoing web-comic. Think of it like a crowd-sourced
			| choose-your-own-adventure story!
		p
			| To get started, register a new account, login, and
			| find a frame, and start drawing!
	div.content.box
		h1 Start from the beginning:
		+renderFrame(startFrame)

	div.content.box
		h1 Most recent:
		+renderFramePreviews(recentFrames)
