extends layout.pug

include mixins.pug 

block content
	div.content
		h1 Start from the beginning:
		+renderFrame(startFrame)
		h1 Most recent:
		each recentFrame in recentFrames
			+renderFrame(recentFrame)
