mixin renderFrame(frame)
	div.frame.content
		a(href = '/frames/' + frame.id + '#current')
			img.frame__info(src = '/static/images/' + frame.url)
		p.frame__info
			a.frame__info__user(href = '/users/' + frame.author.id) by: #{frame.author.name}
	//-	i  | #{frame.created} |
			if frame.children
				b Children: #{frame.children.length} 
				
mixin renderFramePreviews(frames)
	div.preview__container
		each frame in frames
			div.frame__preview
				a(href = '/frames/' + frame.id + '#current')
					img.frame__preview__image(src = '/static/images/' + frame.url)
