extends layout.pug

include mixins.pug

block content
	div.content.box
		h1 user: #{profile.name}
		h2 Since #{profile.join_date}
	div.content.box
		each frame in frames
			+renderFrame(frame)
			
	//-TODO: pagination
		
